<%- include('./header') %>
    <title>Accueil</title>

    </head>

    <body>
        <%- include('./navbar') %>
            <h1 class="center">Accueil</h1>
            <%= %>
                <section class="card__container">
                    <% for ( let i=0; i < usersData.length; i++) { %>
                        <article class="card-frame">
                            <p>
                                <%= usersData[i].name %>
                            </p>
                            <p>
                                Ville: <%= usersData[i].address.city %>
                            </p>
                            <div class="button-container">
                                <a class="link-as-button color-detail" href="/detail/<%=usersData[i].id%>"> Detail</a>
                                <a class="link-as-button color-edit" href="/edit/<%=usersData[i].id%>"> Edit </a>
                                <a class="link-as-button color-delete" href="/delete/<%= usersData[i].id %>"> Delete </a>
                                <!-- <button> Details </button>
                                <button> Delete </button> -->
                            </div>
                        </article>
                        <% }%>
                </section>
    </body>

    </html>