<%- include('./header') %>
    <title>Detail User</title>
    </head>

    <body>
        <%- include('./navbar') %>
            <h1 class="center"> Details de l'utilisateur </h1>

            <section class="detail-container">
                <a class="detail-container-link" href="/"> Retour </a>
                <figure> <img src=<%=oneUser.photo %> alt=""></figure>
                <section class="detail-info-container">
                    <p>
                        <%= oneUser.name %> ................
                    </p>
                    <p>
                        Ville : <%= oneUser.address.city %>
                    </p>

                </section>
            </section>


    </body>

    </html>